/* SAVING */
section.saving {
  position: relative;
}

section.saving::before {
  content: "";
  width: 100%;
  height: 97px;
  position: absolute;
  background-color: #171321;
  left: 0;
  bottom: -1px;
}

.saving .inner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

:is(.saving__story, .saving__calculator, .saving__resources) {
  background-color: #f6f3fe;
  padding: 32px;
}

.saving__story {
  grid-row: 1 / 3;
  border-radius: 8px 0 0 8px;
}

.saving__calculator {
  border-radius: 0 8px 0 0;
}

.saving__resources {
  border-radius: 0 0 90px 0;
}

section.saving h3 {
  font-weight: 500;
  margin-top: 16px;
}

section.saving article > svg {
  width: 32px;
  height: 32px;
  color: #74717a;
}

.saving__story h3 {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.6px;
}

section.saving article:not(.saving__story) h3 {
  font-size: 20px;
  line-height: 1.2;
}

.saving__story h3 a {
  color: #7759c2;
}

.saving__story :is(.feature-pills__top, .feature-pills__bottom) {
  background-color: #fff;
  padding: 8px 36px 8px 12px;
  margin-top: 16px;
}

.saving__story .feature-pills svg {
  width: 24px;
  height: 24px;
}

.saving__story .feature-pills p strong {
  font-size: 24px;
  line-height: 1.3;
}

.saving__story .more {
  margin-top: 48px;
}

section.saving article:not(.saving__story) .more {
  margin-top: 16px;
}

section.saving .more {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

section.saving .more svg {
  width: 20px;
  height: 20px;
}
