/* CASE STUDIES */
section.case-studies .inner {
  margin: 96px auto;
}

.case__tabs {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  margin-bottom: 64px;
}

.case__tabs::after {
  content: "";
  position: absolute;
  width: 100%;
  min-width: 900px;
  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f2f1f5;
  z-index: -1;
}

.case__tabs button {
  padding: 8px 8px 24px;
  margin-right: 32px;
  position: relative;
}

.case__tabs button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7759c2;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s ease;
}

.case__tabs button.selected::after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
}

.case__tabs img {
  max-width: 164px;
  max-height: 42px;
}

/* CASE STUDY CASES */
.case__contents article {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  width: 0;
  height: 0;
  transition: transform .5s linear, opacity .3s ease;
}

.case__contents article.active {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  transform: translateY(0);
}

.case__left {
  flex-grow: 1;
  flex-basis: 0;
}

.case__right {
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: 32px;
}

.case__left h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 32px;
}

.case__left h3 a {
  color: #7759c2;
}

.case__left .feature-pills {
  margin-bottom: 32px;
}

.case__left :is(.feature-pills__top, .feature-pills__bottom) {
  padding: 8px 24px;
  margin-top: 16px;
  background-color: #f6f3fe;
}

.case__left .feature-pills p strong {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -.8px;
}

.case__left .more {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.case__singleron .case__left .more {
  margin-top: 48px;
}

.case__right .quote {
  background-color: #f6f3fe;
  padding: 48px;
  margin-right: 40px;
  position: relative;
}

.case__right .quote blockquote {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.case__right .quote cite {
  font-size: 14px;
  line-height: 1.4;
}

.case__right .quote cite strong {
  font-weight: 500;
}

.case__right .quote img {
  position: absolute;
  width: 154px;
  right: -40px;
  bottom: -32px;
  border-radius: 4.4px 4.4px 60px 4.4px;
}
