:where(.more) {
  display: flex;
  align-items: center;
  gap: 4px;
}

:where(.more) :where(.arrow) {
  fill: currentColor;
  display: flex;
  align-items: center;
  transition: transform .2s ease-in-out;
}

:where(.more:hover) :where(.text) {
  text-decoration: underline;
} 

:where(.more:hover) :where(.arrow) {
  transform: translateX(6px);
}

:where(.btn) {
  padding: 11px 16px;
  cursor: pointer;
  background-color: #171321;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #171321;
  border-radius: 4px;
  transition: background-color .1s ease-in-out;
  line-height: 20px;
}

:where(.btn:hover) {
  background-color: #fff;
  color: #171321;
}

:where(.inner) {
  max-width: 1170px;
  margin: 0 auto;
  left: 0;
  right: 0;
}