body {
  font-family: "Inter", sans-serif;
  color: #171321;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

:where(a, img, span, button, input, svg) {
  display: block;
}

:where(a, button) {
  cursor: pointer;
}

:where(button, input):focus {
  outline: none;
}

:where(a) {
  text-decoration: none;
  color: inherit;
}

:where(strong) {
  font-weight: inherit;
}

:where(button) {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

:where([hidden]) {
  visibility: hidden;
}

:where(.hidden) {
  display: none;
}

:where(h1, h2, h3, h4, h5, h6, p) > a {
  display: inline;
}

:where(h1, h2, h3, h4, h5, h6, p) > a:hover {
  text-decoration: underline;
}