/* RESET */
body {
  font-family: "Inter", sans-serif;
  color: #171321;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

img {
  display: block;
}

/* AD BANNER */
.ad-banner {
  background-color: #171321;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 9px 0;
}

.ad-banner img:first-of-type {
  margin-left: 24px;
}

.ad-banner p {
  font-weight: 600;
}

.ad-banner .more {
  text-decoration: underline;
}

.ad-banner img:last-of-type {
  margin-left: -8px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px 16px 24px;
  color: #74717a;
}

header .left {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .left > a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .left ul {
  display: flex;
  gap: 16px;
}

header .left ul li {
  padding: 8px;
}

header .right {
  display: flex;
  align-items: center;
  gap: 24px;
}

header .right .search {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .right > a {
  margin: 0 8px;
}

/* COMMON */
.more {
  display: flex;
  /* align-items: center; */
  gap: 4px;
  font-size: 18px;
}

.more .arrow {
  fill: currentColor;
  display: flex;
  align-items: center;
  transition: transform .2s ease-in-out;
}

.more:hover .text {
  text-decoration: underline;
} 

.more:hover .arrow {
  transform: translateX(6px);
}

.btn {
  padding: 11px 16px;
  cursor: pointer;
  background-color: #171321;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #171321;
  border-radius: 4px;
  transition: background-color .1s ease-in-out;
  line-height: 20px;
}

.btn:hover {
  background-color: #fff;
  color: #171321;
}