/* AD BANNER */
.ad-banner {
  background-color: #171321;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 9px 0;
}

.ad-banner img:first-of-type {
  margin-left: 24px;
}

.ad-banner p {
  font-weight: 600;
}

.ad-banner .more {
  text-decoration: underline;
}

.ad-banner img:last-of-type {
  margin-left: -8px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px 16px 24px;
  color: #74717a;
}

header .left {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .left > a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .left ul {
  display: flex;
  gap: 16px;
}

header .left ul li {
  padding: 8px;
}

header .right {
  display: flex;
  align-items: center;
  gap: 24px;
}

header .right .search {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .right > a {
  margin: 0 8px;
}
